.skills {
    background: #1070CA;
    color: white;
    padding: 65px;
  &__header {
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    padding: 24px;
    @media (min-width: $desktop){
      font-size: 48px;
      line-height: 58px;
    }
  }
  &__columns{
    @media (min-width: $desktop){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  }
  &__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  &__section--emoji{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 72px;
  }
  &__section--header{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
  }
  &__list{
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
    width: 288px;
    &--item {
      padding: 0 0 0 24px;
      margin: 0 0 12px;
      position: relative;
      &:before {
        position: absolute;
        left: 0px;
        top: 7px;
        content: '';
        width: 12px;
        height: 9px;
        background: url('../assets/img/small-tick-green.svg');
        display: block;
        .skills__list--blue &{
          background: url('../assets/img/small-tick-blue.svg');
        }
        .skills__list--bullet &{
          width: 12px;
          height: 9px;
          background: url('../assets/img/Bullet.svg');
        }

      }
    }
  }

}
